*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body{
    align-items: center;
    justify-content: end;
    display: flex;
    background-image: url(../img/Energia-verde.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.login{
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 30%;

}

.login h2{
    color: green;
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.caixa{
  width: 60%;
  font-size: 20px;
  height: 40px;
  padding-left: 15px;
  border-radius: 4px;
  border: 1px solid rgb(67, 141, 44);
}