*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 85px;
    background-color: #ffffff;
  }

  .menu {
    float: left;
  }
  
  
  .menu ul {
    margin-top: 24px;
  }
  
  
  .menu li {
    display: inline-block;
    padding: 0 10px;
  }
  
  
  .menu a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #29bf15;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .menu a:hover {
    background-color: #ffffff;
  }
  
  .menu a:hover {
    color: green;
    font-weight: normal;
  }

.banner{
    min-height: 70vh;
    background-image: url('../img/Usina-de-Ondas-Pecem_BNT_7435-transformed.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
  }

.content{
    text-align: center;
}

.titulo{
    margin: 5vh;
    font-size: 5vh;
    color: rgb(67, 141, 44);
}

.paragrafos {
  display: flex;
  align-items: center;
  text-align: justify;
  margin-bottom: 30px;
  font-size: 23px;
}

/* rodapé */

footer{
    background-color: #f8f8f8;
  }
  
  .container-footer{
      max-width: 1400px;
      padding: 0 4%;
  
  }
  
  .row-footer{
      display: flex;
      flex-wrap: wrap;
      padding: 0 15px;
  }
  
  .footer-col{
      width: 100%;
      text-align: center;
  }
  
  .footer-col h4{
      color: white;
      font-size: 22px;
      margin-top: 10px;
      font-weight: 800;
      text-transform: uppercase;

  }
  
  @media (max-width: 900px) {
    .container {
        margin: 10px;
    }
    .blocos {
        display: block;
    }
  }
  
  /*rodapé*/
  .rodape{
    background: green;
    text-align: center;
    margin-top: 20px;
  }
  
  .links-medias{
    flex-direction: end;
    padding-bottom: 20px;
    margin-top: 5px;
  }
  
  .links-medias a{
    color: white;
  }
  
  .container-direitos{
    width: 100%;
    margin-top: 10px;
  }
  
  .container-direitos a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  