* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    font-family: Tahoma;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 auto;
  }

  /*Menu*/
header {
    height: 85px;
    background-color: #ffffff;
  }
  
  
  .logo img {
    width: 50px;
    margin-top: 15px;
    margin-left: 15px;
  
  }
  
  
  .logo {
    float: left;
  }
  
  
  .menu {
    float: right;
  }
  
  
  .menu ul {
    margin-top: 24px;
  }
  
  
  .menu li {
    display: inline-block;
    padding: 0 10px;
  }
  
  
  .menu a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #29bf15;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .menu a:hover {
    background-color: #ffffff;
  }
  
  .menu a:hover {
    color: #29bf15;
    font-weight: normal;
  }

  p {
    background-color: rgb(238, 238, 238);
    overflow: auto;
    text-align: center;
    padding: 0px;
    border-radius: 30px;
    width: 1200px;
}
img {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 500px;
}

.container {
    margin: 20px;
}